In [2]:
import pandas as pd
import numpy as np

In [45]:
waste = pd.read_csv('../../DB/폐기물데이터_행정구역변경_2.csv', encoding='CP949')

# 가구원수별

In [85]:
house = pd.read_csv('../../DB/가구원수별.csv', encoding = 'CP949')

In [86]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    1305 non-null   object
 1   시도      1305 non-null   object
 2   시군구     1305 non-null   object
 3   시점      1305 non-null   int64
 4   1인      1305 non-null   int64
 5   2인      1305 non-null   int64
 6   3인      1305 non-null   int64
 7   4인      1305 non-null   int64
 8   5인 이상   1305 non-null   object
dtypes: int64(5), object(4)
memory usage: 91.9+ KB

In [87]:
house['5인 이상'] = pd.to_numeric(house['5인 이상'], errors='coerce')

In [88]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    1305 non-null   object
 1   시도      1305 non-null   object
 2   시군구     1305 non-null   object
 3   시점      1305 non-null   int64
 4   1인      1305 non-null   int64
 5   2인      1305 non-null   int64
 6   3인      1305 non-null   int64
 7   4인      1305 non-null   int64
 8   5인 이상   1303 non-null   float64
dtypes: float64(1), int64(5), object(3)
memory usage: 91.9+ KB

In [89]:
print(set(waste['행정구역'].unique())-set(house['행정구역'].unique()))
print(set(house['행정구역'].unique()) - set(waste['행정구역'].unique()))

set()
{'경남_의창구', '경기_기흥구', '경기_덕양구', '경기_일산서구', '경기_중원구', '경북_북구', '경남_마산합포구', '경기_팔달구', '경남_성산구', '경기_단원구', '충남_동남구', '경북_남구', '전북_완산구', '경남_진해구', '충북_청원구', '경기_동안구', '충남_서북구', '경기_수지구', '경기_처인구', '충북_흥덕구', '경기_장안구', '경남_마산회원구', '경기_일산동구', '경기_상록구', '경기_수정구', '경기_권선구', '충북_서원구', '경기_만안구', '전북_덕진구', '경북_군위군', '경기_분당구', '경기_영통구', '충북_상당구'}

In [ ]:
# set()
# {'경남_의창구', '경기_기흥구', '경기_덕양구', '경기_일산서구', '경기_중원구',
#   '경북_북구', '경남_마산합포구', '경기_팔달구', '경남_성산구', '경기_단원구', 
#   '충남_동남구', '경북_남구', '전북_완산구', '경남_진해구', '충북_청원구', '경기_동안구',
#     '충남_서북구', '경기_수지구', '경기_처인구', '충북_흥덕구', '경기_장안구', 
#     '경남_마산회원구', '경기_일산동구', '경기_상록구', '경기_수정구', '경기_권선구',
#       '충북_서원구', '경기_만안구', '전북_덕진구', '경북_군위군', '경기_분당구', '경기_영통구', '충북_상당구'}

In [90]:
bori_dict = {
  '경기_부천시': ['경기_오정구', '경기_소사구', '경기_원미구'],
  '전북_전주시':['전북_완산구', '전북_덕진구'], 
  '경기_안산시' : ['경기_상록구','경기_단원구'],
  '경기_고양시':['경기_일산동구', '경기_덕양구', '경기_일산서구'],
  '경남_창원시':['경남_성산구', '경남_마산합포구', '경남_진해구', '경남_마산회원구', '경남_의창구'],
  '충북_청주시' :['충북_상당구', '충북_청원구', '충북_흥덕구', '충북_서원구'],
  '경기_안양시' : ['경기_만안구','경기_동안구'],
  '경기_용인시':['경기_수지구', '경기_처인구', '경기_기흥구'],
  '경기_수원시':['경기_영통구', '경기_권선구','경기_장안구','경기_팔달구'],
  '경기_성남시':['경기_분당구', '경기_중원구', '경기_수정구'],
  '충남_천안시':['충남_동남구', '충남_서북구']
}

In [91]:
def change(data, dict):
    replacement_map = {}
    for main_region, sub_regions in dict.items():
        for i in sub_regions:
            replacement_map[i] = main_region
    data['행정구역'] = data['행정구역'].replace(replacement_map)
    return data

In [92]:
modified_house = change(data=house.copy(), dict=bori_dict)
modifing_house = modified_house.groupby(['행정구역','시점']).agg(
  {'시도':'first',
   '시군구':'first',
   '1인':'sum',
   '2인':'sum',
   '3인':'sum',
   '4인':'sum',
   '5인 이상':'sum'
   }).reset_index()
print("\n바뀐 후:")
print(modifing_house)

바뀐 후:
        행정구역    시점  시도  시군구     1인     2인     3인     4인   5인 이상
0     강원_강릉시  2019  강원  강릉시  32119  28629  16547  11083  3715.0
1     강원_강릉시  2020  강원  강릉시  37635  29649  16499  10810  3439.0
2     강원_강릉시  2021  강원  강릉시  38581  30768  16191  10369  3196.0
3     강원_강릉시  2022  강원  강릉시  37485  31207  16149   9929  2893.0
4     강원_강릉시  2023  강원  강릉시  39349  31555  15881   9526  2607.0
...      ...   ...  ..  ...    ...    ...    ...    ...     ...
1150  충북_충주시  2019  충북  충주시  30972  27619  16713  10954  3933.0
1151  충북_충주시  2020  충북  충주시  33557  28496  16470  11058  3501.0
1152  충북_충주시  2021  충북  충주시  35774  29809  15926  10638  3203.0
1153  충북_충주시  2022  충북  충주시  36621  30628  15892  10025  2964.0
1154  충북_충주시  2023  충북  충주시  38242  31137  15885   9654  2791.0

[1155 rows x 9 columns]

In [93]:
modifing_house[modifing_house['행정구역']=='경기_안양시']

       행정구역    시점  시도  시군구      1인      2인      3인     4인    5인 이상
170  경기_안양시  2019  경기  안양시   94156  107250  100716  86442  22826.0
171  경기_안양시  2020  경기  안양시   97066  108180   97192  83346  21098.0
172  경기_안양시  2021  경기  안양시  106480  113638   97180  80192  19078.0
173  경기_안양시  2022  경기  안양시  112936  118920  100034  76576  17578.0
174  경기_안양시  2023  경기  안양시  116898  119044  100630  74586  16472.0

In [95]:
print(set(waste['행정구역'].unique())-set(modifing_house['행정구역'].unique()))
print(set(modifing_house['행정구역'].unique()) - set(waste['행정구역'].unique()))

set()
{'경북_군위군', '경북_북구', '경북_남구'}

### 경북_군위군은 대구_군위군으로 변경

In [96]:
modifing_house['시도'][modifing_house['행정구역'] == "경북_군위군"] = '대구'
modifing_house['행정구역'][modifing_house['행정구역'] == "경북_군위군"] = '대구_군위군'

C:\Users\nammi\AppData\Local\Temp\ipykernel_23304\3936512098.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  modifing_house['시도'][modifing_house['행정구역'] == "경북_군위군"] = '대구'
C:\Users\nammi\AppData\Local\Temp\ipykernel_23304\3936512098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modifing_house['시도'][modifing_house['행정구역'] == "경북_군위군"] = '대구'
C:\Users\nammi\AppData\Local\Temp\ipykernel_23304\3936512098.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  modifing_house['행정구역'][modifing_house['행정구역'] == "경북_군위군"] = '대구_군위군'
C:\Users\nammi\AppData\Local\Temp\ipykernel_23304\3936512098.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modifing_house['행정구역'][modifing_house['행정구역'] == "경북_군위군"] = '대구_군위군'

In [98]:
modifing_house[modifing_house['행정구역'] == "대구_군위군"]

       행정구역    시점  시도  시군구    1인    2인    3인   4인  5인 이상
355  대구_군위군  2019  대구  군위군  3985  4160  1504  628  283.0
356  대구_군위군  2020  대구  군위군  4111  4275  1451  625  264.0
357  대구_군위군  2021  대구  군위군  4426  4249  1378  513  231.0
358  대구_군위군  2022  대구  군위군  4683  4375  1392  507  228.0
484  대구_군위군  2023  대구  군위군  3874  5094  1311  467  197.0

### '경북_북구', '경북_남구' 삭제

In [99]:
modifing_house = modifing_house[~modifing_house['행정구역'].isin(['경북_북구', '경북_남구'])]

In [102]:
print(set(waste['행정구역'].unique())-set(modifing_house['행정구역'].unique()))
print(set(modifing_house['행정구역'].unique()) - set(waste['행정구역'].unique()))

set()
set()

In [103]:
# modifing_house.to_csv('../../DB/가구원수별_수정.csv', index=False, encoding='CP949')

In [217]:
moving = pd.read_csv('../../DB/전입출.csv', encoding = 'utf-8')

In [218]:
moving.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1508 entries, 0 to 1507
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   행정구역     1508 non-null   object
 1   시도       1508 non-null   object
 2   시군구      1508 non-null   object
 3   시점       1508 non-null   int64
 4   총전입 (명)  1508 non-null   int64
 5   총전출 (명)  1508 non-null   int64
 6   순이동 (명)  1508 non-null   int64
dtypes: int64(4), object(3)
memory usage: 82.6+ KB

In [219]:
print(set(waste['행정구역'].unique())-set(moving['행정구역'].unique()))
print(set(moving['행정구역'].unique()) - set(waste['행정구역'].unique()))

set()
{'충북_청원군', '경기_화성군', '충남_논산군', '경기_포천군', '경기_여주군', '경기_안성군', '경기_이천군', '경남_양산군', '경남_울산시', '경기_김포군', '경기_용인군', '경남_마산시', '충남_연기군', '전남_여천군', '인천_남구', '충남_당진군', '경기_양주군', '경기_파주군', '경기_광주군', '전남_여천시', '경북_군위군', '경남_진해시'}

In [ ]:
set()
{'충북_청원군', '경기_화성군', '충남_논산군', '경기_포천군', '경기_여주군', '경기_안성군', 
 '경기_이천군', '경남_양산군', '경남_울산시', '경기_김포군', '경기_용인군', '경남_마산시', 
 '충남_연기군', '전남_여천군', '인천_남구', '충남_당진군', '경기_양주군', '경기_파주군', 
 '경기_광주군', '전남_여천시', '경북_군위군', '경남_진해시'}

In [112]:
modified_moving = change(data=moving.copy(), dict=bori_dict)
moving_change = modified_moving.groupby(['행정구역','시점']).agg(
  {'시도':'first',
   '시군구':'first',
   '총전입 (명)':'sum',
   '총전출 (명)':'sum',
   '순이동 (명)':'sum'
   }).reset_index()
print("\n바뀐 후:")
print(moving_change)

바뀐 후:
        행정구역    시점  시도  시군구  총전입 (명)  총전출 (명)  순이동 (명)
0     강원_강릉시  2019  강원  강릉시    31980    30787     1193
1     강원_강릉시  2020  강원  강릉시    31595    30983      612
2     강원_강릉시  2021  강원  강릉시    31820    30668     1152
3     강원_강릉시  2022  강원  강릉시    25320    25598     -278
4     강원_강릉시  2023  강원  강릉시    23710    24529     -819
...      ...   ...  ..  ...      ...      ...      ...
1497  충북_충주시  2020  충북  충주시    29948    29887       61
1498  충북_충주시  2021  충북  충주시    29990    29510      480
1499  충북_충주시  2022  충북  충주시    24920    24727      193
1500  충북_충주시  2023  충북  충주시    25753    25169      584
1501  충북_충주시  2024  충북  충주시    25142    24661      481

[1502 rows x 7 columns]

In [113]:
print(set(waste['행정구역'].unique())-set(moving_change['행정구역'].unique()))
print(set(moving_change['행정구역'].unique()) - set(waste['행정구역'].unique()))

set()
{'충북_청원군', '경기_화성군', '충남_논산군', '경기_포천군', '경기_여주군', '경기_안성군', '경기_이천군', '경남_양산군', '경남_울산시', '경기_김포군', '경남_마산시', '충남_연기군', '전남_여천군', '인천_남구', '충남_당진군', '경기_양주군', '경기_파주군', '경기_광주군', '전남_여천시', '경남_진해시', '경북_군위군', '경기_용인군'}

In [ ]:
set()
{'충북_청원군', '경기_화성군', '충남_논산군', '경기_포천군', '경기_여주군', '경기_안성군',
  '경기_이천군', '경남_양산군', '경남_울산시', '경기_김포군', '경남_마산시',
  '충남_연기군', '전남_여천군', '인천_남구', '충남_당진군', '경기_양주군', '경기_파주군',
  '경기_광주군', '전남_여천시', '경남_진해시', '경북_군위군', '경기_용인군'}

- 바뀐게 없음..흑흑

In [220]:
# 청원 -> 청주로 통합 삭제
print(moving[moving['행정구역'].str.startswith('충북_청원')])
print(waste[waste['행정구역'].str.startswith('충북_청원')])

       행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
830  충북_청원군  충북  청원군  2019        0        0        0
831  충북_청원군  충북  청원군  2020        0        0        0
832  충북_청원군  충북  청원군  2021        0        0        0
833  충북_청원군  충북  청원군  2022        0        0        0
834  충북_청원군  충북  청원군  2023        0        0        0
835  충북_청원군  충북  청원군  2024        0        0        0
Empty DataFrame
Columns: [행정구역, 시도, 시군구, 폐기물_종류, 폐기물_종류1, 폐기물_종류2, 재활용, 소각, 매립, 기타, 발생량, 연도]
Index: []

In [221]:
moving = moving[~moving['행정구역'].str.startswith('충북_청원')]
moving[moving['행정구역'].str.startswith('충북_청원')]

Empty DataFrame
Columns: [행정구역, 시도, 시군구, 시점, 총전입 (명), 총전출 (명), 순이동 (명)]
Index: []

In [222]:
# 경기_화성군
# 군 -> 시
print(moving[moving['행정구역'].str.startswith('경기_화성')])
print(waste[waste['행정구역'].str.startswith('경기_화성')])

       행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
596  경기_화성시  경기  화성시  2019   168445   116607    51838
597  경기_화성시  경기  화성시  2020   155727   119562    36165
598  경기_화성시  경기  화성시  2021   153361   124882    28479
599  경기_화성시  경기  화성시  2022   119306    98368    20938
600  경기_화성시  경기  화성시  2023   142568   112517    30051
601  경기_화성시  경기  화성시  2024   131324   110665    20659
638  경기_화성군  경기  화성군  2019        0        0        0
639  경기_화성군  경기  화성군  2020        0        0        0
640  경기_화성군  경기  화성군  2021        0        0        0
641  경기_화성군  경기  화성군  2022        0        0        0
642  경기_화성군  경기  화성군  2023        0        0        0
643  경기_화성군  경기  화성군  2024        0        0        0
         행정구역  시도  시군구          폐기물_종류  폐기물_종류1   폐기물_종류2       재활용       소각  \
3071   경기_화성시  경기  화성시    종량제방식 등 혼합배출      가연성       폐지류     328.5  18651.5
3072   경기_화성시  경기  화성시    종량제방식 등 혼합배출      가연성    폐합성수지류    3504.0  15987.0
3073   경기_화성시  경기  화성시    종량제방식 등 혼합배출      가연성      폐고무류       0.0    547.5
3074   경기_화성시  경기  화성시    종량제방식 등 혼합배출      가연성      폐섬유류       0.0   5840.0
3075   경기_화성시  경기  화성시    종량제방식 등 혼합배출      가연성  음식물류 폐기물       0.0   5329.0
...       ...  ..  ...             ...      ...       ...       ...      ...
37032  경기_화성시  경기  화성시  재활용 가능자원  분리배출  폐전기전자제품       NaN    1316.4      0.0
37033  경기_화성시  경기  화성시  재활용 가능자원  분리배출     폐가구류       NaN       0.0      0.0
37034  경기_화성시  경기  화성시  재활용 가능자원  분리배출       기타       NaN       1.1      0.0
37035  경기_화성시  경기  화성시  재활용 가능자원  분리배출  재활용 잔재물       NaN       0.0      0.0
37036  경기_화성시  경기  화성시   음식물류 폐기물 분리배출      NaN       NaN  103151.9     13.0

        매립   기타       발생량    연도
3071   0.0  0.0   18980.0  2019
3072   0.0  0.0   19491.0  2019
3073   0.0  0.0     547.5  2019
3074   0.0  0.0    5840.0  2019
3075   0.0  0.0    5329.0  2019
...    ...  ...       ...   ...
37032  0.0  0.0    1316.4  2023
37033  0.0  0.0       0.0  2023
37034  0.0  0.0       1.1  2023
37035  0.0  0.0       0.0  2023
37036  0.0  0.0  103164.9  2023

[185 rows x 12 columns]

In [223]:
moving = moving[~moving['행정구역'].str.startswith('경기_화성군')]
moving[moving['행정구역'].str.startswith('경기_화성')]

       행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
596  경기_화성시  경기  화성시  2019   168445   116607    51838
597  경기_화성시  경기  화성시  2020   155727   119562    36165
598  경기_화성시  경기  화성시  2021   153361   124882    28479
599  경기_화성시  경기  화성시  2022   119306    98368    20938
600  경기_화성시  경기  화성시  2023   142568   112517    30051
601  경기_화성시  경기  화성시  2024   131324   110665    20659

In [268]:
# 군 -> 시
# 충남_논산군
# 경기_포천군
# 경기_여주군
# 경기_안성군
# 경기_이천군
# 경남_양산군
# 경기_김포군
# 충남_당진군
# 경기_양주군
# 경기_광주군
# 경기_용인군
# 경기_파주군

print(moving[moving['행정구역'].str.startswith('경기_파주')])
print(waste[waste['행정구역'].str.startswith('경기_파주')])

       행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
572  경기_파주시  경기  파주시  2019    55949    54574     1375
573  경기_파주시  경기  파주시  2020    75882    64593    11289
574  경기_파주시  경기  파주시  2021    79477    60852    18625
575  경기_파주시  경기  파주시  2022    69258    56191    13067
576  경기_파주시  경기  파주시  2023    56166    53099     3067
577  경기_파주시  경기  파주시  2024    74155    60006    14149
644  경기_파주군  경기  파주군  2019        0        0        0
645  경기_파주군  경기  파주군  2020        0        0        0
646  경기_파주군  경기  파주군  2021        0        0        0
647  경기_파주군  경기  파주군  2022        0        0        0
648  경기_파주군  경기  파주군  2023        0        0        0
649  경기_파주군  경기  파주군  2024        0        0        0
         행정구역  시도  시군구          폐기물_종류  폐기물_종류1   폐기물_종류2      재활용       소각  \
3219   경기_파주시  경기  파주시    종량제방식 등 혼합배출      가연성       폐지류      0.0  10147.0
3220   경기_파주시  경기  파주시    종량제방식 등 혼합배출      가연성    폐합성수지류      0.0  16972.5
3221   경기_파주시  경기  파주시    종량제방식 등 혼합배출      가연성      폐고무류      0.0    511.0
3222   경기_파주시  경기  파주시    종량제방식 등 혼합배출      가연성      폐섬유류      0.0   7555.5
3223   경기_파주시  경기  파주시    종량제방식 등 혼합배출      가연성  음식물류 폐기물      0.0   4161.0
...       ...  ..  ...             ...      ...       ...      ...      ...
37180  경기_파주시  경기  파주시  재활용 가능자원  분리배출  폐전기전자제품       NaN   1355.0      0.0
37181  경기_파주시  경기  파주시  재활용 가능자원  분리배출     폐가구류       NaN      0.0      0.0
37182  경기_파주시  경기  파주시  재활용 가능자원  분리배출       기타       NaN   2644.5      0.0
37183  경기_파주시  경기  파주시  재활용 가능자원  분리배출  재활용 잔재물       NaN      0.0      0.0
37184  경기_파주시  경기  파주시   음식물류 폐기물 분리배출      NaN       NaN  20857.6      0.0

        매립       기타      발생량    연도
3219   0.0      0.0  10147.0  2019
3220   0.0      0.0  16972.5  2019
3221   0.0      0.0    511.0  2019
3222   0.0      0.0   7555.5  2019
3223   0.0      0.0   4161.0  2019
...    ...      ...      ...   ...
37180  0.0      0.0   1355.0  2023
37181  0.0      0.0      0.0  2023
37182  0.0      0.0   2644.5  2023
37183  0.0      0.0      0.0  2023
37184  0.0  11421.6  32279.2  2023

[185 rows x 12 columns]

In [269]:
moving = moving[~moving['행정구역'].str.startswith('경기_파주군')]
moving[moving['행정구역'].str.startswith('경기_파주')]

       행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
572  경기_파주시  경기  파주시  2019    55949    54574     1375
573  경기_파주시  경기  파주시  2020    75882    64593    11289
574  경기_파주시  경기  파주시  2021    79477    60852    18625
575  경기_파주시  경기  파주시  2022    69258    56191    13067
576  경기_파주시  경기  파주시  2023    56166    53099     3067
577  경기_파주시  경기  파주시  2024    74155    60006    14149

In [ ]:
# 반복...

In [224]:
# 경남_울산시 -> 울산 광역시로 데이터 0이니 삭제제
print(moving[moving['행정구역'].str.startswith('경남_울산시')])

        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
1370  경남_울산시  경남  울산시  2019        0        0        0
1371  경남_울산시  경남  울산시  2020        0        0        0
1372  경남_울산시  경남  울산시  2021        0        0        0
1373  경남_울산시  경남  울산시  2022        0        0        0
1374  경남_울산시  경남  울산시  2023        0        0        0
1375  경남_울산시  경남  울산시  2024        0        0        0

In [225]:
moving = moving[~moving['행정구역'].str.startswith('경남_울산시')]
moving[moving['행정구역'].str.startswith('경남_울산시')]

Empty DataFrame
Columns: [행정구역, 시도, 시군구, 시점, 총전입 (명), 총전출 (명), 순이동 (명)]
Index: []

In [226]:
# 경북_군위군 -> 대구_군위군군
print(moving[moving['행정구역'].str.endswith('군위군')])
# print(waste[waste['행정구역'].str.startswith('경북_군위')])

        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
294   대구_군위군  대구  군위군  2023     1771     1737       34
295   대구_군위군  대구  군위군  2024     1648     1816     -168
1280  경북_군위군  경북  군위군  2019     2226     2054      172
1281  경북_군위군  경북  군위군  2020     2125     2422     -297
1282  경북_군위군  경북  군위군  2021     2113     2026       87
1283  경북_군위군  경북  군위군  2022     2423     1652      771
1284  경북_군위군  경북  군위군  2023        0        0        0
1285  경북_군위군  경북  군위군  2024        0        0        0

In [227]:
moving['시도'][moving['행정구역'] == "경북_군위군"] = '대구'
moving['행정구역'][moving['행정구역'] == "경북_군위군"] = '대구_군위군'

C:\Users\nammi\AppData\Local\Temp\ipykernel_23304\1584931641.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  moving['시도'][moving['행정구역'] == "경북_군위군"] = '대구'

In [228]:
print(moving[moving['행정구역'].str.endswith('대구_군위군')])

        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
294   대구_군위군  대구  군위군  2023     1771     1737       34
295   대구_군위군  대구  군위군  2024     1648     1816     -168
1280  대구_군위군  대구  군위군  2019     2226     2054      172
1281  대구_군위군  대구  군위군  2020     2125     2422     -297
1282  대구_군위군  대구  군위군  2021     2113     2026       87
1283  대구_군위군  대구  군위군  2022     2423     1652      771
1284  대구_군위군  대구  군위군  2023        0        0        0
1285  대구_군위군  대구  군위군  2024        0        0        0

In [229]:
moving.drop([1284,1285], axis=0, inplace=True)

In [230]:
print(moving[moving['행정구역'].str.endswith('대구_군위군')])

        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
294   대구_군위군  대구  군위군  2023     1771     1737       34
295   대구_군위군  대구  군위군  2024     1648     1816     -168
1280  대구_군위군  대구  군위군  2019     2226     2054      172
1281  대구_군위군  대구  군위군  2020     2125     2422     -297
1282  대구_군위군  대구  군위군  2021     2113     2026       87
1283  대구_군위군  대구  군위군  2022     2423     1652      771

In [231]:
# 경남_마산시 - > 경남_창원시
print(moving[moving['행정구역'].str.startswith('경남_창원')])
# print(waste[waste['행정구역'].str.startswith('경남_창원')])

        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
1358  경남_창원시  경남  창원시  2019        0        0        0
1359  경남_창원시  경남  창원시  2020        0        0        0
1360  경남_창원시  경남  창원시  2021        0        0        0
1361  경남_창원시  경남  창원시  2022        0        0        0
1362  경남_창원시  경남  창원시  2023        0        0        0
1363  경남_창원시  경남  창원시  2024        0        0        0
1364  경남_창원시  경남  창원시  2019   118972   128791    -9819
1365  경남_창원시  경남  창원시  2020   132567   140425    -7858
1366  경남_창원시  경남  창원시  2021   120887   123957    -3070
1367  경남_창원시  경남  창원시  2022   101272   110046    -8774
1368  경남_창원시  경남  창원시  2023    91342   101518   -10176
1369  경남_창원시  경남  창원시  2024   101134   107937    -6803

In [263]:
print(moving[moving['행정구역'].str.startswith('경남_마산시')])

        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
1376  경남_마산시  경남  마산시  2019        0        0        0
1377  경남_마산시  경남  마산시  2020        0        0        0
1378  경남_마산시  경남  마산시  2021        0        0        0
1379  경남_마산시  경남  마산시  2022        0        0        0
1380  경남_마산시  경남  마산시  2023        0        0        0
1381  경남_마산시  경남  마산시  2024        0        0        0

In [264]:
moving = moving[~moving['행정구역'].str.startswith('경남_마산시')]
moving[moving['행정구역'].str.startswith('경남_마산시')]

Empty DataFrame
Columns: [행정구역, 시도, 시군구, 시점, 총전입 (명), 총전출 (명), 순이동 (명)]
Index: []

In [232]:
a = np.arange(1358,1364)
moving.drop(a, axis=0, inplace=True)

In [233]:
print(moving[moving['행정구역'].str.startswith('경남_창원')])

        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
1364  경남_창원시  경남  창원시  2019   118972   128791    -9819
1365  경남_창원시  경남  창원시  2020   132567   140425    -7858
1366  경남_창원시  경남  창원시  2021   120887   123957    -3070
1367  경남_창원시  경남  창원시  2022   101272   110046    -8774
1368  경남_창원시  경남  창원시  2023    91342   101518   -10176
1369  경남_창원시  경남  창원시  2024   101134   107937    -6803

In [236]:
# 충남_연기군 -> 세종
# 세종 있으니 연기군 삭제

print(moving[moving['행정구역'].str.startswith('충남_연기')])
print(moving[moving['행정구역'].str.startswith('세종')])

       행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
938  충남_연기군  충남  연기군  2019        0        0        0
939  충남_연기군  충남  연기군  2020        0        0        0
940  충남_연기군  충남  연기군  2021        0        0        0
941  충남_연기군  충남  연기군  2022        0        0        0
942  충남_연기군  충남  연기군  2023        0        0        0
943  충남_연기군  충남  연기군  2024        0        0        0
           행정구역  시도      시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
452  세종_세종특별자치시  세종  세종특별자치시  2019    82398    58674    23724
453  세종_세종특별자치시  세종  세종특별자치시  2020    78934    65909    13025
454  세종_세종특별자치시  세종  세종특별자치시  2021    76912    62827    14085
455  세종_세종특별자치시  세종  세종특별자치시  2022    65529    55401    10128
456  세종_세종특별자치시  세종  세종특별자치시  2023    56050    54360     1690
457  세종_세종특별자치시  세종  세종특별자치시  2024    61022    58214     2808

In [239]:
a = np.arange(938,944)
moving.drop(a, axis=0, inplace=True)

In [240]:
print(moving[moving['행정구역'].str.startswith('충남_연기')])

Empty DataFrame
Columns: [행정구역, 시도, 시군구, 시점, 총전입 (명), 총전출 (명), 순이동 (명)]
Index: []

In [242]:
# 전남_여천군, 여천시천시 -> 여수로 통합 삭제
print(moving[moving['행정구역'].str.startswith('전남_여천')])
print(moving[moving['행정구역'].str.startswith('전남_여수')])

        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
1100  전남_여천시  전남  여천시  2019        0        0        0
1101  전남_여천시  전남  여천시  2020        0        0        0
1102  전남_여천시  전남  여천시  2021        0        0        0
1103  전남_여천시  전남  여천시  2022        0        0        0
1104  전남_여천시  전남  여천시  2023        0        0        0
1105  전남_여천시  전남  여천시  2024        0        0        0
1130  전남_여천군  전남  여천군  2019        0        0        0
1131  전남_여천군  전남  여천군  2020        0        0        0
1132  전남_여천군  전남  여천군  2021        0        0        0
1133  전남_여천군  전남  여천군  2022        0        0        0
1134  전남_여천군  전남  여천군  2023        0        0        0
1135  전남_여천군  전남  여천군  2024        0        0        0
        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
1082  전남_여수시  전남  여수시  2019    38548    38853     -305
1083  전남_여수시  전남  여수시  2020    38167    40171    -2004
1084  전남_여수시  전남  여수시  2021    35389    37565    -2176
1085  전남_여수시  전남  여수시  2022    32884    33628     -744
1086  전남_여수시  전남  여수시  2023    27710    29574    -1864
1087  전남_여수시  전남  여수시  2024    25574    28372    -2798

In [243]:
moving = moving[~moving['행정구역'].str.startswith('전남_여천')]
moving[moving['행정구역'].str.startswith('전남_여천')]

Empty DataFrame
Columns: [행정구역, 시도, 시군구, 시점, 총전입 (명), 총전출 (명), 순이동 (명)]
Index: []

In [244]:
# 인천_남구 -> 인천_미추홀구
# 인천_남구 삭제제

print(moving[moving['행정구역'].str.startswith('인천_남구')])
print(moving[moving['행정구역'].str.startswith('인천_미추홀구')])

      행정구역  시도 시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
308  인천_남구  인천  남구  2019        0        0        0
309  인천_남구  인천  남구  2020        0        0        0
310  인천_남구  인천  남구  2021        0        0        0
311  인천_남구  인천  남구  2022        0        0        0
312  인천_남구  인천  남구  2023        0        0        0
313  인천_남구  인천  남구  2024        0        0        0
        행정구역  시도   시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
314  인천_미추홀구  인천  미추홀구  2019    55630    63322    -7692
315  인천_미추홀구  인천  미추홀구  2020    64320    68529    -4209
316  인천_미추홀구  인천  미추홀구  2021    66407    61554     4853
317  인천_미추홀구  인천  미추홀구  2022    57506    56415     1091
318  인천_미추홀구  인천  미추홀구  2023    56754    55722     1032
319  인천_미추홀구  인천  미추홀구  2024    62008    54753     7255

In [245]:
moving = moving[~moving['행정구역'].str.startswith('인천_남구')]
moving[moving['행정구역'].str.startswith('인천_남구')]

Empty DataFrame
Columns: [행정구역, 시도, 시군구, 시점, 총전입 (명), 총전출 (명), 순이동 (명)]
Index: []

In [246]:
# 경남_진해시 -> 경남_창원시
print(moving[moving['행정구역'].str.startswith('경남_진해')])
print(moving[moving['행정구역'].str.startswith('경남_창원')])

        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
1388  경남_진해시  경남  진해시  2019        0        0        0
1389  경남_진해시  경남  진해시  2020        0        0        0
1390  경남_진해시  경남  진해시  2021        0        0        0
1391  경남_진해시  경남  진해시  2022        0        0        0
1392  경남_진해시  경남  진해시  2023        0        0        0
1393  경남_진해시  경남  진해시  2024        0        0        0
        행정구역  시도  시군구    시점  총전입 (명)  총전출 (명)  순이동 (명)
1364  경남_창원시  경남  창원시  2019   118972   128791    -9819
1365  경남_창원시  경남  창원시  2020   132567   140425    -7858
1366  경남_창원시  경남  창원시  2021   120887   123957    -3070
1367  경남_창원시  경남  창원시  2022   101272   110046    -8774
1368  경남_창원시  경남  창원시  2023    91342   101518   -10176
1369  경남_창원시  경남  창원시  2024   101134   107937    -6803

In [247]:
moving = moving[~moving['행정구역'].str.startswith('경남_진해')]
moving[moving['행정구역'].str.startswith('경남_진해')]

Empty DataFrame
Columns: [행정구역, 시도, 시군구, 시점, 총전입 (명), 총전출 (명), 순이동 (명)]
Index: []

In [270]:
print(set(waste['행정구역'].unique())-set(moving['행정구역'].unique()))
print(set(moving['행정구역'].unique()) - set(waste['행정구역'].unique()))

set()
set()

In [271]:
moving.to_csv("../../DB/전입출_수정.csv", encoding="CP949", index=False)